@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("./fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  background-color: #ffffff; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  margin: 0 auto;
  max-width: 320px; }

@media (min-width: 660px) {
  .container {
    max-width: 1920px; } }

.button {
  color: #ffffff;
  border: none;
  border-radius: 3px;
  outline: none; }

.button:hover {
  cursor: pointer; }

.button--o {
  color: #9d9d9d;
  border: 1px solid #9d9d9d;
  background-color: #ffffff; }

.button--orange {
  background-color: #ff9d00;
  border: 1px solid #ff9d00; }

.slider {
  position: relative; }

.slider__button {
  position: absolute;
  top: 50%;
  margin-top: -39px;
  width: 22px;
  height: 78px;
  border: none;
  outline: none;
  background-color: #ff9d00;
  background-position: 0 4px;
  background-repeat: no-repeat; }

.slider__button:hover {
  cursor: pointer; }

.slider__button--prev {
  left: 0; }

.slider__button--next {
  right: 0; }

.slider__button--prev::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 8px;
  margin-top: -10px;
  width: 6px;
  height: 19px;
  background-image: url("../img/left-arrow.svg");
  background-position: 0 0;
  background-repeat: no-repeat; }

.slider__button--next::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 8px;
  margin-top: -10px;
  width: 6px;
  height: 19px;
  background-image: url("../img/right-arrow.svg");
  background-position: 0 0;
  background-repeat: no-repeat; }

.main-header {
  position: relative;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4; }

.main-header__wrap {
  display: flex;
  align-items: center; }

.main-header__button-menu {
  margin: 0 15px;
  width: 23px;
  height: 17px;
  background-color: #ffffff;
  background-image: url("../img/menu.png");
  background-position: 0 0;
  background-repeat: no-repeat; }

.main-header__logo {
  width: 35px;
  height: 35px;
  text-align: center;
  background-color: #ff9d00;
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 5px; }

.main-header__logo-image {
  margin-top: 8px; }

.main-header__phone {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  font-weight: 400; }

.main-header__phone b {
  font-weight: 700; }

.main-header__button-phone {
  margin: 0 15px;
  width: 27px;
  height: 27px;
  background-color: #ff9d00;
  background-image: url("../img/phone.png");
  background-position: 6px 7px;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px; }

@media (max-width: 660px) {
  .main-header__order {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden; } }

@media (min-width: 660px) {
  .main-header {
    display: block;
    padding: 0; }
  .main-header__wrap {
    margin: 0 auto;
    padding: 15px;
    max-width: 940px; }
  .main-header__button-menu {
    display: none; }
  .main-header__logo {
    width: 191px;
    height: 61px;
    background-color: inherit; }
  .main-header__phone {
    font-size: 22px;
    line-height: 22px;
    font-weight: 500; }
  .main-header__button-phone {
    padding: 15px 20px;
    padding-left: 45px;
    width: 180px;
    height: auto;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    background-image: url("../img/phone_desktop.png");
    background-position: 15px 14px; }
  .main-header__order {
    display: block; } }

@media (min-width: 940px) {
  .main-header__phone {
    display: flex;
    flex-direction: row; } }

.navbar {
  order: 1;
  top: 56px;
  left: 0;
  margin-top: 10px;
  margin-bottom: -10px;
  width: 320px;
  background-color: #30312c;
  opacity: 0.95; }

.navbar__hide {
  display: none; }

.navbar__list {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none; }

.navbar__item {
  padding: 5px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #f4f4f4; }

.navbar__item:hover,
.navbar__item:focus {
  background-color: #f4f4f4; }

.navbar__item a {
  color: #ffffff;
  text-decoration: none; }

.navbar__item:hover a,
.navbar__item:focus a {
  color: #000000; }

@media (min-width: 660px) {
  .navbar {
    display: block;
    order: 0;
    margin: 0;
    width: auto;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400; }
  .navbar__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 0; }
  .navbar__item {
    position: relative;
    margin-right: 30px;
    border: none; }
  .navbar__item:hover,
  .navbar__item:focus {
    background-color: inherit; }
  .navbar__item:hover::after,
  .navbar__item:focus::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    background-position: 0 0;
    background-repeat: no-repeat; }
  .navbar__item:hover a,
  .navbar__item:focus a {
    color: #ffffff; } }

.intro {
  padding: 45px 15px 50px 15px;
  text-align: center;
  color: #ffffff;
  background-color: #30312c;
  background-image: url("../img/boxes-mobile.jpg"); }

.intro__image {
  display: none; }

.intro__header {
  margin: 0;
  margin-bottom: 5px;
  color: #ff9d00;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700; }

.intro__subheader {
  margin: 0;
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 400; }

.intro__desc {
  margin: 0;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 300; }

.intro__gift {
  margin: 0;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase; }

.intro__form-phone {
  margin-bottom: 13px;
  padding: 15px 0;
  width: 100%;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  border: none;
  border-radius: 5px; }

.intro__button {
  padding: 15px 0;
  width: 180px;
  font-size: 15px;
  font-weight: 500; }

.intro__order {
  font-size: 13px;
  line-height: 30px;
  font-weight: 300; }

@media (min-width: 660px) {
  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    padding-top: 60px;
    padding-bottom: 80px;
    background-image: url("../img/boxes-desktop.jpg"); }
  .intro__image {
    display: block;
    margin-right: 30px; }
  .intro__wrap {
    max-width: 536px;
    box-sizing: border-box;
    text-align: left; }
  .intro__wrap::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -510px;
    width: 480px;
    height: 378px;
    background-image: url("../img/boxes.png");
    background-position: 0 0;
    background-repeat: no-repeat; }
  .intro__header {
    font-size: 41px;
    line-height: 42px;
    color: #ffffff; }
  .intro__subheader {
    font-size: 28px;
    line-height: 42px; }
  .intro__desc {
    font-size: 20px;
    line-height: 30px; }
  .intro__gift {
    font-size: 20px;
    line-height: 30px; }
  .intro__form-phone {
    margin-right: 10px;
    padding-left: 15px;
    width: 310px;
    text-align: left;
    font-size: 14px; }
  .intro__order {
    font-size: 14px; } }

.features {
  padding: 0 15px;
  padding-bottom: 32px;
  background-color: #f4f4f4; }

.features__figures {
  text-align: center; }

.features__title {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 20px;
  font-size: 30px;
  font-weight: 900;
  color: #ff9d00; }

.features__desc {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400; }

.features__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.features__item {
  margin-bottom: 8px;
  position: relative;
  padding: 20px 10px;
  padding-left: 65px;
  background-color: #ffffff; }

.features__item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -23px;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: no-repeat; }

.features__item--plant::before {
  background-image: url("../img/plant.svg"); }

.features__item--gifts::before {
  background-image: url("../img/gifts.svg");
  background-position: -1px 1px; }

.features__item--quality::before {
  background-image: url("../img/quality.svg");
  background-position: 6px 2px; }

.features__item--stock::before {
  background-image: url("../img/stock.svg"); }

.features__item--print::before {
  background-image: url("../img/print.svg");
  background-position: -1px 4px; }

.features__item--waterproof::before {
  background-image: url("../img/waterproof.svg"); }

.features__item-title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 900; }

.features__item-desc {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300; }

@media (min-width: 660px) {
  .features {
    padding-bottom: 25px; }
  .features__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 970px; }
  .features__figures {
    margin: 0 15px;
    width: 290px; }
  .features__title {
    padding-top: 45px;
    font-size: 36px;
    line-height: 20px; }
  .features__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 970px; }
  .features__item {
    margin: 0 15px;
    margin-bottom: 30px;
    width: 290px;
    box-sizing: border-box; }
  .features__desc {
    font-size: 16px;
    line-height: 20px; }
  .features__item-title {
    line-height: 19px; }
  .features__item-desc {
    line-height: 19px; } }

.products {
  padding: 0 15px;
  padding-top: 30px;
  padding-bottom: 40px; }

.products__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }

.products__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.products__item {
  margin-bottom: 20px; }

.products__item:last-child {
  margin-bottom: 0; }

.products__item-title {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  text-align: center; }

.products__buttons {
  display: flex;
  justify-content: center; }

.products__button {
  padding: 15px 0;
  font-size: 14px;
  line-height: 22px; }

.products__button--more {
  width: 118px;
  margin-right: 10px; }

.products__button--calc {
  width: 160px; }

@media (min-width: 660px) {
  .products {
    padding: 0;
    padding-top: 45px;
    padding-bottom: 70px; }
  .products__title {
    font-size: 27px; }
  .products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 970px; }
  .products__item {
    margin: 0 65px;
    width: 350px; }
  .products__item-title {
    margin-bottom: 20px;
    font-size: 20px; }
  .products__button {
    font-size: 15px;
    line-height: 24px; }
  .products__button--more {
    margin-right: 15px;
    width: 125px; }
  .products__button--calc {
    width: 170px; } }

.proposal {
  margin-bottom: 25px;
  padding: 45px 15px;
  color: #ffffff;
  text-align: center;
  background-color: #9d9d9d;
  background-image: url("../img/roll.jpg");
  background-position: 0 0;
  background-repeat: no-repeat; }

.proposal__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700; }

.proposal__subtitle {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400; }

.proposal__form {
  display: flex;
  flex-direction: column;
  align-items: center; }

.proposal__form label {
  font-size: 14px;
  line-height: 30px;
  font-weight: 300; }

.proposal__phone {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 15px 0;
  width: 100%;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  border: none;
  border-radius: 5px; }

.proposal__button {
  margin-bottom: 10px;
  padding: 15px 40px;
  font-size: 15px;
  font-weight: 500; }

.proposal__order {
  font-size: 13px;
  line-height: 30px; }

@media (min-width: 660px) {
  .proposal {
    margin-bottom: 80px;
    padding: 55px 0;
    background-image: url("../img/roll_desktop.jpg"); }
  .proposal__title {
    font-size: 32px;
    font-weight: 400; }
  .proposal__subtitle {
    font-size: 26px; }
  .proposal__form label {
    font-size: 20px; }
  .proposal__phone {
    padding: 20px 0;
    width: 365px;
    font-size: 20px; }
  .proposal__button {
    padding: 20px 0;
    width: 180px;
    font-size: 15px; }
  .proposal__order {
    font-size: 14px; } }

.factory {
  margin-bottom: 25px;
  padding: 0 15px;
  text-align: center; }

.factory__title {
  margin: 0 -15px;
  margin-bottom: 15px;
  padding: 15px 0;
  font-size: 20px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff9d00; }

.factory__desc {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300; }

.factory__big-image {
  display: none; }

.factory__list {
  margin: 0;
  padding: 0;
  list-style: none; }

@media (min-width: 660px) {
  .factory {
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0 15px;
    max-width: 970px; }
  .factory__wrap {
    display: flex;
    align-items: center; }
  .factory__text {
    order: 2;
    max-width: 405px; }
  .factory__title {
    margin: 0;
    margin-bottom: 20px;
    padding-left: 20px;
    text-align: left;
    font-size: 28px;
    line-height: 22px; }
  .factory__desc {
    padding-left: 20px;
    font-size: 16px;
    line-height: 24px; }
  .factory__big-image {
    display: block; }
  .factory__slider {
    width: 535px; }
  .factory__list {
    display: flex;
    justify-content: center; }
  .factory__item {
    margin: 0 3px;
    width: 115px; } }

.clients {
  padding: 0 15px;
  padding-top: 25px;
  padding-bottom: 17px; }

.clients__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }

.clients__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; }

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  width: 140px;
  height: 85px;
  border: 1px solid #9d9d9d;
  box-sizing: border-box; }

@media (min-width: 660px) {
  .clients {
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0;
    max-width: 970px; }
  .clients__title {
    margin-bottom: 45px;
    padding-top: 40px;
    font-size: 27px; }
  .clients__list {
    justify-content: center; }
  .clients__item {
    margin: 0 15px;
    margin-bottom: 30px;
    width: 210px; } }

.reviews {
  padding-bottom: 40px;
  background-color: #f4f4f4; }

.reviews__title {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }

.reviews__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none; }

@media (min-width: 660px) {
  .reviews {
    padding-bottom: 65px; }
  .reviews__wrap {
    margin: 0 auto;
    max-width: 920px; }
  .reviews__title {
    padding: 45px 0;
    font-size: 27px;
    line-height: 18px; }
  .reviews__list {
    flex-direction: row;
    justify-content: center; }
  .reviews__item {
    margin: 0 15px;
    max-width: 290px; } }

.contacts {
  padding: 0 15px;
  padding-top: 30px;
  padding-bottom: 15px;
  text-align: center; }

.contacts__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase; }

.contacts__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none; }

.contacts__item {
  margin-bottom: 10px; }

.contacts__item--email {
  order: 2; }

.contacts__item-title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500; }

.contacts__desc {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300; }

.contacts__button {
  padding: 15px 20px; }

@media (min-width: 660px) {
  .contacts {
    padding: 0;
    background-image: url("../img/map_desktop.jpg"); }
  .contacts__wrap {
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 90px;
    padding: 25px 0;
    padding-left: 60px;
    padding-right: 15px;
    box-sizing: border-box;
    width: 310px;
    text-align: left;
    background-color: #f4f4f4; }
  .contacts__title {
    display: none; }
  .contacts__item {
    position: relative; }
  .contacts__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: -35px;
    width: 20px;
    height: 26px;
    background-position: 0 0;
    background-repeat: no-repeat; }
  .contacts__item--office::before {
    background-image: url("../img/marker.svg"); }
  .contacts__item--phone::before {
    background-image: url("../img/mobile-phone.svg"); }
  .contacts__item--email::before {
    background-image: url("../img/email.svg"); }
  .contacts__desc {
    font-size: 16px; }
  .contacts__map-image {
    display: none; } }

.footer {
  padding: 35px 0;
  font-size: 11px;
  line-height: 17px;
  font-weight: 300;
  color: #f4f4f4;
  text-align: center;
  background-color: #000000; }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.4); }

.overlay-show {
  display: block; }

.modal-feedback {
  display: none;
  z-index: 7;
  position: fixed;
  top: 15%;
  left: 50%;
  margin-left: -160px;
  padding-bottom: 45px;
  width: 320px;
  color: #ffffff;
  background-image: url("../img/shop.jpg");
  background-position: 0 61px;
  background-repeat: no-repeat; }

.modal-feedback__show {
  display: block; }

.modal-feedback__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 20px 0;
  font-size: 21px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  background-color: #ff9d00; }

.modal-feedback__subtitle {
  margin: 0;
  font-size: 30px;
  line-height: 27px;
  font-weight: 400;
  text-align: center; }

.modal-feedback__offer {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 27px;
  font-weight: 400;
  text-align: center; }

.modal-feedback__form {
  text-align: center; }

.modal-feedback__form-label {
  margin-bottom: 10px;
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300; }

.modal-feedback__phone {
  margin-right: 15px;
  padding: 20px 0;
  padding-left: 15px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 300;
  border: none; }

.modal-feedback__button {
  padding: 20px 15px;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 0; }

.modal-feedback__order {
  display: none;
  margin-top: 5px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300; }

.modal-feedback__close {
  padding: 0;
  border: none; }

.modal-feedback__close::before {
  content: '';
  position: absolute;
  top: -25px;
  right: 3px;
  width: 18px;
  height: 17px;
  background-image: url("../img/cross-big.svg");
  background-position: 0 0;
  background-repeat: no-repeat; }

.modal-feedback__close:hover::before {
  cursor: pointer; }

@media (min-width: 660px) {
  .modal-feedback {
    margin-left: -330px;
    width: 660px; }
  .modal-feedback__phone {
    max-width: 365px;
    border-radius: 5px; }
  .modal-feedback__button {
    display: inline-block;
    max-width: 180px;
    border-radius: 5px; }
  .modal-feedback__order {
    display: block; }
  .modal-feedback__close::before {
    top: 10px;
    right: 20px; } }

/*# sourceMappingURL=style.css.map */