.clients {
  padding: 0 15px;
  padding-top: 25px;
  padding-bottom: 17px;
}

.clients__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.clients__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  width: 140px;
  height: 85px;
  border: 1px solid $bg-grey;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .clients {
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0;
    max-width: 970px;
  }

  .clients__title {
    margin-bottom: 45px;
    padding-top: 40px;
    font-size: 27px;
  }

  .clients__list {
    justify-content: center;
  }

  .clients__item {
    margin: 0 15px;
    margin-bottom: 30px;
    width: 210px;
  }
}