.contacts {
  border: 1px solid orangered;
  padding: 15px 0;
  padding-top: 30px;
  padding-bottom: 5px;
  text-align: center;
}

.contacts__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts__subtitle {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
}

.contacts__text {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
}

.contacts__text--office {
  margin-bottom: 10px;
}

.contacts__text--storage {
  margin-bottom: 25px;
}

.contacts__text--phone {
  margin-bottom: 5px;
}

.contacts__button {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 15px 20px;
}