.contacts {
  border: 1px solid orangered;
  padding: 0 15px;
  padding-top: 30px;
  padding-bottom: 15px;
  text-align: center;
}

.contacts__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__item {
  margin-bottom: 10px;
}

.contacts__item--email {
  order: 2;
}

.contacts__item-title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
}

.contacts__desc {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
}

.contacts__button {
  padding: 15px 20px;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding: 0;
    background-image: url('../img/map_desktop.jpg');
  }

  .contacts__wrap {
    border: 1px solid orangered;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 90px;
    padding: 25px 0;
    padding-left: 60px;
    padding-right: 15px;
    box-sizing: border-box;
    width: 310px;
    text-align: left;
    background-color: $bg-lightgrey;
  }

  .contacts__title {
    display: none;
  }

  .contacts__item {
    // border: 1px solid orangered;
    position: relative;
  }

  .contacts__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: -35px;
    width: 20px;
    height: 26px;
    // background-color: $bg-orange;
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .contacts__item--office::before {
    background-image: url('../img/marker.svg');
  }

  .contacts__item--phone::before {
    background-image: url('../img/mobile-phone.svg');
  }

  .contacts__item--email::before {
    background-image: url('../img/email.svg');
  }

  .contacts__desc {
    font-size: 16px;
  }

  .contacts__map-image {
    display: none;
  }
  
}
