.factory {
  border: 1px solid orangered;
  margin-bottom: 25px;
  padding: 0 15px;
  text-align: center;
}

.factory__title {
  margin: 0 -15px;
  margin-bottom: 15px;
  padding: 15px 0;
  font-size: 20px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: $bg-white;
  background-color: $bg-orange;
}

.factory__desc {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
}

.factory__big-image {
  display: none;
}

.factory__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .factory {
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0 15px;
    max-width: 970px;
  }

  .factory__wrap {
    display: flex;
    align-items: center;
  }

  .factory__text {
    order: 2;
    max-width: 405px;
  }

  .factory__title {
    margin: 0;
    margin-bottom: 20px;
    padding-left: 20px;
    text-align: left;
    font-size: 28px;
    line-height: 22px;
  }

  .factory__desc {
    padding-left: 20px;
    font-size: 16px;
    line-height: 24px;
  }

  .factory__big-image {
    display: block;
  }

  .factory__slider {
    width: 535px;
  }

  .factory__list {
    display: flex;
    justify-content: center;
  }

  .factory__item {
    margin: 0 3px;
    width: 115px;
  }
}
