.features {
  padding: 0 15px;
  padding-bottom: 32px;
  background-color: $bg-lightgrey;
}

.features__figures {
  // border: 1px solid orangered;
  text-align: center;
}

.features__title {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 20px;
  font-size: 30px;
  font-weight: 900;
  color: $bg-orange;
}

.features__desc {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.features__list {
  // border: 1px solid orangered;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  // border: 1px solid orangered;
  margin-bottom: 8px;
  position: relative;
  padding: 20px 10px;
  padding-left: 65px;
  background-color: $bg-white;
}

.features__item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -23px;
  width: 45px;
  height: 45px;
  background-color: $bg-white;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.features__item--plant::before {
  background-image: url('../img/plant.svg');
}

.features__item--gifts::before {
  background-image: url('../img/gifts.svg');
  background-position: -1px 1px;
}

.features__item--quality::before {
  background-image: url('../img/quality.svg');
  background-position: 6px 2px;
}

.features__item--stock::before {
  background-image: url('../img/stock.svg');
}

.features__item--print::before {
  background-image: url('../img/print.svg');
  background-position: -1px 4px;
}

.features__item--waterproof::before {
  background-image: url('../img/waterproof.svg');
}

.features__item-title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 900;
}

.features__item-desc {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .features {
    padding-bottom: 25px;
  }

  .features__wrap {
    // border: 1px solid orangered;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 960px;
  }

  .features__figures {
    margin: 0 15px;
    width: 290px;
  }
  
  .features__title {
    padding-top: 45px;
    font-size: 36px;
    line-height: 20px;
  }

  .features__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 960px;
  }

  .features__item {
    margin: 0 15px;
    margin-bottom: 30px;
    width: 290px;
    box-sizing: border-box;
  }

  .features__desc {
    font-size: 16px;
    line-height: 20px;
  }

  .features__item-title {
    line-height: 19px;
  }

  .features__item-desc {
    line-height: 19px;
  }
}